In [10]:
import numpy as np
import pandas as pd

In [39]:
# load data
week1_data = pd.read_csv('data/week1.csv')
week2_data = pd.read_csv('data/week2.csv')

display(week1_data.head(1))
display(week2_data.head(2))

,Unnamed: 0,Unnamed: 1,"If you wanna open up your island to sell, use the Active Dodo Code column to share your current code while you're open, and take it down when you're done.",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,Contact(Twitter/Discord),In-Game Name,Island,FC,Buy Price,Mon AM,Mon PM,Tue AM,Tue PM,...,Wed PM,Thu AM,Thu PM,Fri AM,Fri PM,Sat AM,Sat PM,Possible Pattern,Active Dodo Code,Other notes

,Unnamed: 0,There's an open island right now!,"Use the Active Dodo Code column to share your current Dodo Code while you're open, and take it down when you're done.",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,Don't Leave an island from (-) menu!!!,Turnip Mafia Discord Server should also be ope...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Contact(Twitter/Discord),In-Game Name,Island,FC,Buy Price,Mon AM,Mon PM,Tue AM,Tue PM,...,Thu AM,Thu PM,Fri AM,Fri PM,Sat AM,Sat PM,Possible Pattern,Active Dodo Code,Timezone,Other notes

After loading in data from weeks 1 and 2 we can see that the columns have incorrect names and that the correct names are in rows 0 and 1 respectively. This suggests that the data has to be loaded and processed case by case due to formatting differences.

Loading in the data with correct columns using skiprows reveals an empty column (Unnamed: 0), missing values along with features unrelated to the price of turnips such as Contact(Twitter/Discord), In-Game Name, Island and etc.

In [45]:
# load data with correct column names
week1_data = pd.read_csv('data/week1.csv', skiprows=[0])
week2_data = pd.read_csv('data/week2.csv', skiprows=[0, 1])

display(week1_data.head(3))
display(week2_data.head(3))

print(week1_data.dtypes)

,Unnamed: 0,Contact(Twitter/Discord),In-Game Name,Island,FC,Buy Price,Mon AM,Mon PM,Tue AM,Tue PM,...,Wed PM,Thu AM,Thu PM,Fri AM,Fri PM,Sat AM,Sat PM,Possible Pattern,Active Dodo Code,Other notes
0,NaN,@KnightCarmine,Maddox,Knight,NaN,102,43.0,40.0,36.0,32.0,...,139,118,146.0,148.0,142.0,61.0,57,Small >:(,NaN,NaN
1,NaN,@semefake,Dev,Sootopolis,0308-4250-1245,93,54.0,51.0,46.0,135.0,...,146,135,142.0,45.0,38.0,NaN,NaN,NaN,NaN,NaN
2,NaN,@naniichanx,Levii,Montecki,NaN,108,63.0,60.0,55.0,51.0,...,115,154,202.0,NaN,NaN,NaN,NaN,Small Spike,NaN,tracking prices & probabilities on https://tur...

,Unnamed: 0,Contact(Twitter/Discord),In-Game Name,Island,FC,Buy Price,Mon AM,Mon PM,Tue AM,Tue PM,...,Thu AM,Thu PM,Fri AM,Fri PM,Sat AM,Sat PM,Possible Pattern,Active Dodo Code,Timezone,Other notes
0,NaN,@KnightCarmine/CarmineKnight#0114,Maddox,Knight,NaN,100,87,83.0,79,75,...,-,-,NaN,NaN,NaN,NaN,SS/BS/D,NaN,GMT -7 (PST),Shop closed on thursday >:(
1,NaN,NaN,Mercure,Ronron,NaN,103,92,89.0,86,82,...,NaN,NaN,NaN,NaN,NaN,NaN,"SS, BS or D",NaN,GMT+1,Timezone GMT+1
2,NaN,@CinderMar_Karen,Karen,CinderMar,NaN,100,89,83.0,NaN,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GMT+4,Timezone GMT+4

Unnamed: 0                  float64
Contact(Twitter/Discord)     object
In-Game Name                 object
Island                       object
FC                           object
Buy Price                    object
Mon AM                      float64
Mon PM                      float64
Tue AM                      float64
Tue PM                      float64
Wed AM                       object
Wed PM                       object
Thu AM                       object
Thu PM                      float64
Fri AM                      float64
Fri PM                      float64
Sat AM                      float64
Sat PM                       object
Possible Pattern             object
Active Dodo Code            float64
Other notes                  object
dtype: object

Based on the data samples shown above the turnip prices appear to be fine apart from missing values while further inspection reveals an issue related to the object data type which indicates the presence of mixed data where we would expect to only see floats.

This issue appears in Buy Price, Wed AM, Wed PM, Thu AM and Sat PM where ill-formed data has cast entire columns of turnip prices (excluding NaNs) into strings.

In [36]:
display(week1_data.loc[[54, 63], ['Buy Price', 'Wed AM', 'Thu AM', 'Sat PM']])
data_types = week1_data['Buy Price'].apply(type).unique()
print("Buy Price Data Types:", data_types)

   Buy Price Wed AM              Thu AM Sat PM
54       101    NaN  forgot to check :(  142!!
63         x      x                 124     61

Buy Price Data Types: [<class 'str'> <class 'float'>]